@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Resets and defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Default Fontsize 10px = 1rem */
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    background-color: #f1faee;
    background-image: linear-gradient(62deg, #f1faee 0%, #a8dadc 100%);
    color: hsl(215, 50%, 23%);
}

/* Container */

.container {
    display: grid;
    place-content: center;
    height: 100vh;
    grid-template:
        ". header ."
        "aside main window"
        ". footer .";
}

a:link,
a:visited {
    text-decoration: none;
    color: hsl(215, 50%, 23%);
}

a:hover,
a:active {
    color: hsl(355, 78%, 56%);
}

/* Header */

header {
    grid-area: header;
}

h1 {
    font-size: 7.2rem;
    margin-bottom: 2.4rem;
    text-align: center;
    color: hsl(355, 78%, 56%);
    text-shadow: 0px 6px 3px rgba(0, 0, 0, 0.2);
}

/* Main Window */

main {
    grid-area: main;
    margin-bottom: 7.2rem;
}

.play_window {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border-radius: 2.4rem;
    background-color: hsl(105, 55%, 96%);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    color: hsl(105, 55%, 96%);
}

.play_window div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    font-size: 7.2rem;
    font-weight: 700;
}

#block_5 {
    border: 2px solid hsl(215, 50%, 23%);
}

#block_2,
#block_8 {
    border-left: 2px solid hsl(215, 50%, 23%);
    border-right: 2px solid hsl(215, 50%, 23%);
}

#block_4,
#block_6 {
    border-top: 2px solid hsl(215, 50%, 23%);
    border-bottom: 2px solid hsl(215, 50%, 23%);
}

#block_1 {
    border-top-left-radius: 2.4rem;
}

#block_3 {
    border-top-right-radius: 2.4rem;
}

#block_7 {
    border-bottom-left-radius: 2.4rem;
}

#block_9 {
    border-bottom-right-radius: 2.4rem;
}

.player1 {
    color: hsl(355, 78%, 56%);
}

.player2 {
    color: hsl(203, 39%, 44%);
}

.player1_win {
    background-color: hsl(355, 78%, 56%);
    color: hsl(105, 55%, 96%);
}

.player2_win {
    background-color: hsl(203, 39%, 44%);
    color: hsl(105, 55%, 96%);
}

/* Sidebar for Scores */

aside {
    grid-area: aside;
    margin-right: -1rem;
    z-index: -1;
}

h2 {
    text-align: center;
    width: 20rem;
    padding: 1.6rem 0;
    margin: 1.4rem 0;
    font-size: 2.4rem;
    border-radius: 1.2rem;
    color: hsl(105, 55%, 96%);
}

.p1 {
    background-color: hsl(355, 78%, 56%);
}

.p2 {
    background-color: hsl(203, 39%, 44%);
}

h2 span {
    margin-left: 2.4rem;
}

.window {
    width: 22rem;
    grid-area: window;
}
/* Status bar */

.status_bar {
    text-align: center;
}

.status {
    font-size: 3.6rem;
    font-weight: 700;
    margin: 4.8rem 0;
}

.btn {
    background-color: hsl(215, 50%, 23%);
    color: hsl(105, 55%, 96%);
    border: none;
    width: 20rem;
    border-radius: 1.2rem;
    padding: 1.6rem 0;
    font-size: 2.4rem;
    margin: 0 1.2rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* Footer */

footer {
    grid-area: footer;
    text-align: center;
    font-size: 1.2rem;
    border-top: 1px solid hsl(215, 50%, 23%);
    padding: 1.2rem;
}

.icon {
    fill: hsl(215, 50%, 23%);
    width: 1.6rem;
    margin-right: 0.5rem;
}

.icon:hover {
    fill: hsl(355, 78%, 56%);
}
